<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Liste de tous les Restaurants</h1>
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
        <% end %>
        <%= link_to "Create", new_restaurant_path %>
      </ul>
    </div>
  </div>
</div>
